<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta
  name="description"
  content="Discover discord bots, and have the best experience with our diverse range"
/>
<meta name="language" content="English">
<meta
  name="og:description"
  content="Discover discord bots, and have the best experience with our diverse range."
/>
<meta name="theme-color" content="#05040c">
<meta property="og:title" content="Atom Bot list" />
<meta property="og:site_name" content="atombotlist" />
<meta property="twitter:image" content="/images/title.png" />
<meta property="og:url" content="https://atombotlist.herokuapp.com/">
<meta property="og:type" content="website">

<link
  rel="shortcut icon"
  href="/images/favicon.ico"
  type="image/x-icon"
  sizes="16x16"
/>

<link
  href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro@4cac1a6/css/all.css"
  rel="stylesheet"
  type="text/css"
/>
